@tailwind base
@tailwind components
@tailwind utilities

// base 
@layer base 
    :root
        --container-w: 92%
    @screen sm 
        :root
            --container-w: clamp(327px, 90%, 1110px)
    @screen 2xl
        :root
            --container-w: clamp(900px, 85%, 1110px)

    *
        box-sizing: border-box
        margin: 0
        padding: 0
    
    body
        font-synthesis: none
        text-rendering: optimizeLegibility
        scroll-behavior: smooth
        font-family: 'Livvic', sans-serif
        color: #fff
        @apply bg-midnightGreen

    img
        display: block
        max-width: 100%

    a 
        text-decoration: none
        transition: 0.3s ease-in-out
        cursor: pointer

    input,
    textarea,
    button,
    select,
    a 
        -webkit-tap-highlight-color: transparent

    // headings and paragraph
    .heading1, .heading2, .heading3, .heading4, .heading5, .heading6
        font-weight: 700

    .heading1
        font-size: 40px
        line-height: 40px

    .heading2
        font-size: 32px
        line-height: 32px

    .heading3, .menu, .cta, .heading4
        font-size: 18px
        line-height: 28px

    .heading3
        @apply text-lightCoral

    .heading4
        @apply text-raptureBlue

    .heading5
        font-size: 32px
        line-height: 48px

    .paragraph
        font-size: 15px
        line-height: 28px

    .quotes
        font-size: 15px
        line-height: 25px

    .title
        font-size: 13px
        line-height: 18px
        font-style: italic

    @screen md
        .heading1
            font-size: 64px
            line-height: 56px

    @screen xl
        .heading1
            font-size: 100px
            line-height: 100px

        .heading2
            font-size: 48px
            line-height: 48px

        .paragraph
            font-size: 18px

// components
@layer components
    .cta
        padding: 10px 32px
        border-radius: 24px
        font-weight: 600

    .cta-white
        border: 2px solid white

    .cta-white:hover
        @apply bg-white text-darkGreen

    .cta-black
        border: 2px solid #012F34
        @apply text-sacramentoGreen

    .cta-black:hover
        @apply bg-darkGreen text-white

    .cta-submit
        @apply text-darkGreen bg-white

    .cta-submit:hover
        @apply bg-raptureBlue

    .client-img, .director-img
        border-radius: 100px
        border: 2px solid #C4FFFE

    .client-img
        width: 62px
        height: 62px
    
    .director-img
        width: 96px
        height: 96px

    .menu a:hover, .footer-menu a:hover
        @apply text-lightCoral

    // contact form components
    input, textarea
        background: transparent
        border-bottom: 1px solid white
        padding-bottom: 16px
        margin-bottom: 38px
        width: 100%
        outline: none
        -webkit-border-radius: 0
        padding-left: 14px
        caret: white
        @apply invalid:[&:not(:placeholder-shown):not(:focus)]:border-lightCoral

    input, textarea, textarea::placeholder, input::placeholder
        color: white
        font-size: 15px
        line-height: 25px
        letter-spacing: -0.12px

    input::placeholder, textarea::placeholder
        opacity: 0.6
        @apply invalid:[&:not(:placeholder-shown):not(:focus)]:text-lightCoral

    input:focus, textarea:focus
        border-bottom: 1px solid #79C8C7

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active 
        transition: background-color 5000000s ease-in-out 0s
        -webkit-text-fill-color: white
        background-clip: content-box !important

    .job-form input:-webkit-autofill,
    .job-form input:-webkit-autofill:hover,
    .job-form input:-webkit-autofill:focus,
    .job-form input:-webkit-autofill:active 
        // transition: background-color 5000000s ease-in-out 0s
        -webkit-text-fill-color: #2C6269
        background-clip: content-box !important

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration 
        display: none

    .error
        @apply text-lightCoral text-left hidden
        font-style: italic
        margin: -35px 0 17px 14px
        font-size: 10px

// utitlities
@layer utilities
    .flexCenter 
        @apply flex justify-center items-center

    .flexBetween 
        @apply flex justify-between items-center

    .flexAround
        @apply flex justify-around items-center

    .flexStart 
        @apply flex justify-start items-center

    .flexEnd 
        @apply flex justify-end items-center

    // animations
    .socials svg:hover path
        animation-duration: 300s
        @apply fill-lightCoral

    .mobile-menu 
        animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both

    @keyframes slide-left 
        0% 
            -webkit-transform: translateX(100px)
            transform: translateX(100px)
        100% 
            -webkit-transform: translateX(0)
            transform: translateX(0)

    .rotate45
        animation: rotate45 300ms ease 
    
    @keyframes rotate45
        100%
            transform: rotate(45deg)

    .fadein
        animation: fadein 500ms ease-in-out 
    
    @keyframes fadein
        0%
            opacity: 0
        100%
            opacity: 1

    // backgrounds 
    .mobile-menu-bg
        background: #014E56 url('/src/assets/bg-pattern-about-1-mobile-nav-1.svg') no-repeat bottom right -100px

    .home-hero-bg
        background: url('/src/assets/bg-pattern-home-2.svg') no-repeat bottom center
        background-size: 95%
        @screen md
            background-size: 358px 100px
        @screen xl
            background: url('/src/assets/bg-pattern-home-1.svg') no-repeat left -100px top 30%, url('/src/assets/bg-pattern-home-2.svg') no-repeat bottom right 16%
            background-size: 200px 200px, 358px 100px

    .home-features-bg
        background: #012F34 url('/src/assets/bg-pattern-home-3.svg') no-repeat top right -100px
        background-size: 200px 244px
        @screen xl
            background: #012F34 url('/src/assets/bg-pattern-home-3.svg') no-repeat bottom right -100px

    .quote-bg
        background: url('/src/assets/icon-quotes.svg') no-repeat top center

    .testimonials-bg
        background: url('/src/assets/bg-pattern-home-4-about-3.svg') no-repeat top left, url('/src/assets/bg-pattern-home-5.svg') no-repeat bottom right
        
    .cta-bg
        background: #F67E7E url('/src/assets/bg-pattern-home-6-about-5.svg') no-repeat bottom left

    .about-hero-bg
        background: url('/src/assets/bg-pattern-about-1-mobile-nav-1.svg') no-repeat bottom -100px right -100px
        background-size: 200px 200px
        @screen md
            background-position: bottom right -100px

    .about-directors-bg
        background-image: url('/src/assets/bg-pattern-about-2-contact-1.svg'), url('/src/assets/bg-pattern-home-4-about-3.svg')
        background-repeat: no-repeat, no-repeat
        background-position: top -100px left -100px,right bottom
        background-size: 200px 200px, 147px 100px
        @screen md
            background-position: top left -100px,right bottom

    .clients-bg
        background: #012F34 url('/src/assets/bg-pattern-about-4.svg') no-repeat top -100px left -100px
        background-size: 200px 200px
        @screen md
            background-position: top -100px left
        @screen md
            background-position: top left

    .contact-bg
        background: url('/src/assets/bg-pattern-contact-2.svg') no-repeat right -112.5px bottom -100px
        background-size: 200px 225px 
        @screen md
            background: url('/src/assets/bg-pattern-about-2-contact-1.svg') no-repeat left -100px top, url('/src/assets/bg-pattern-contact-2.svg') no-repeat right -112.5px bottom
            background-size: 200px 200px, 200px 225px 